<header class="ui large secondary pointing menu">
  <div class="left item">
    <img src="http://placehold.it/50x50" alt="logo" class=""/>
  </div>

  <section class="center item">
    <div class="ui action left icon input">
          <i class="search icon"></i>
          <input type="text" placeholder="Search...">
          <div class="ui teal button">Search</div>
    </div>
  </section>

  <div class="right item">
    <a class="ui button">Log in</a>
    <a class="ui button">Sign Up</a>
  </div>
</header>
